@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
}

body {
  background-color: #222;
}

.card {
  background: linear-gradient(135deg, #00feba, #5b548a);
  width: 90%;
  max-width: 450px;
  margin: 150px auto 0px;
  padding: 40px 30px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
}

.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input {
  border-radius: 30px;
  outline: 0;
  border: 0;
  flex: 1;
  padding: 10px 20px;
  margin-right: 14px;
  height: 60px;
  font-size: 18px;
  background: #ebfffc;
  color: #555;
}

.search button {
  background: #ebfffc;
  outline: 0;
  border: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.search button img {
  width: 20px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 30px;
}

.col {
  display: flex;
  text-align: left;
  align-items: center;
}

.col img {
  width: 40px;
  margin-right: 10px;
}